In [1]:
import pandas as pd
import numpy as np

In [3]:
measure = pd.read_csv("measurement.csv")
specimen = pd.read_csv("specimen.csv")

/var/folders/7y/ppl4dg_n3_9fbc0v0tc07f4r0000gn/T/ipykernel_30452/3837497669.py:1: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  measure = pd.read_csv("measurement.csv")
/var/folders/7y/ppl4dg_n3_9fbc0v0tc07f4r0000gn/T/ipykernel_30452/3837497669.py:2: DtypeWarning: Columns (2,14) have mixed types. Specify dtype option on import or set low_memory=False.
  specimen = pd.read_csv("specimen.csv")

In [4]:
all_data = measure.merge(specimen, on="specimen_no", how="inner")

In [5]:
all_data.head()

,measurement_no,specimen_no,record_type_x,n_measured_x,position,measurement_type,average,min,max,record_type_y,...,identified_name,identified_rank,identified_no,difference,accepted_name,accepted_rank,accepted_no,max_ma,min_ma,reference_no
0,151,76,mea,33.0,NaN,length,29.42,NaN,NaN,spm,...,Alces alces,species,43850,NaN,Alces alces,species,45013.0,0.126,0.0117,8850
1,152,76,mea,33.0,NaN,width,20.48,NaN,NaN,spm,...,Alces alces,species,43850,NaN,Alces alces,species,45013.0,0.126,0.0117,8850
2,22020,10998,mea,1.0,NaN,diagonal,49.49,NaN,NaN,spm,...,Orthodesma,genus,16394,NaN,Orthodesma,genus,16394.0,457.500,455.8000,6157
3,22021,10998,mea,1.0,NaN,length,65.54,NaN,NaN,spm,...,Orthodesma,genus,16394,NaN,Orthodesma,genus,16394.0,457.500,455.8000,6157
4,22022,10998,mea,1.0,NaN,height,24.9,NaN,NaN,spm,...,Orthodesma,genus,16394,NaN,Orthodesma,genus,16394.0,457.500,455.8000,6157

In [9]:
# Checking out shape and info on missing values

all_data.shape

(87381, 34)

In [10]:
# 87,381 rows and 34 columns

missing_values_count = all_data.isnull().sum()
missing_values_count

measurement_no            0
specimen_no               0
record_type_x             0
n_measured_x              5
position              84788
measurement_type          0
average                   0
min                   87381
max                   87381
record_type_y             0
flags                 87285
occurrence_no             0
reid_no                   0
collection_no             0
specimen_id           13180
is_type               57229
specelt_no            87381
specimen_side         79761
specimen_part          3776
specimen_sex          82969
n_measured_y              5
measurement_source     4767
magnification         82471
comments              84131
identified_name           0
identified_rank           5
identified_no             0
difference            70683
accepted_name            22
accepted_rank            22
accepted_no              22
max_ma                    0
min_ma                    0
reference_no              0
dtype: int64

I can see from this result that min and max are fully missing, position has most missing, as well as specimen_id, is_type, specelt_no etc. I think for the columns with that many missing, I'm going to drop them. 
But first I'm going to make a copy of my dataset incase I get this all wrong

In [11]:
data = all_data